@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lora&display=swap');

:root{
  /* Colors */
  --light-color: #F0FBFF;
  --primary-color: #825E47;
  --secondary-color: #A9E7FE;
  --bg-color:  #DEDDE1;
  --accent-color-grad: linear-gradient(90deg, rgba(57,56,63,1) 0%, rgba(54,52,60,1) 25%, rgba(41,41,48,1) 50%, rgba(36,38,43,1) 75%, rgba(35,36,42,1) 100%);
  /* #39383F; //#1e1f26 will be gradient these two  */
  --accent-color: #39383F;
  /* Typography */
  --body-font: 'Lora', serif;
  --logo-font-size: 2.5rem;
  --paw-size: 38px;
  --lg-font-size: 6rem;
  --h1-font-size: 3.5rem;
  --h2-font-size: 1.75rem;
  --h3-font-size: 1.25rem;
  --normal-font-size: 1rem;
  --sm-font-size: 0.9rem;
  --es-font-size: 0.8rem;
 
   /* Margin */
   --mb-1: 0.5rem;
   --mb-2: 1rem;
   --mb-3: 1.5rem;
   --mb-4: 2rem;
   --mb-5: 2.5rem;
   --mb-6: 3rem;

}



@media screen and (max-width: 768px) {
  :root {
    --logo-font-size: 2rem;
    --lg-font-size: 4rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: 1rem;
    --sm-font-size: 0.8rem;
    --es-font-size: 0.75rem;
    --paw-size: 32px;
  }
}
@media screen and (max-width: 450px) {
  :root {
    --logo-font-size: 1.75rem;
    --lg-font-size: 2.75rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: .9rem;
    --paw-size: 28px;
  }
}
@media screen and (max-width: 350px) {
  :root {
    --logo-font-size: 1.75rem;
    --lg-font-size: 2.25rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: .9rem;
    --paw-size: 28px;
  }
}
*,*::after,*::before{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Bebas Neue', cursive;
  
}
html{
  height:100%;

}
body{
  background-color:var(--bg-color);
  background: url('../src/images/bluebonnet.jpg') no-repeat center center fixed;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  
}